:root {
  --bgCol: #114;
  --mainCol: #3F3;
  --darkCol: #333;
}

body {
  margin: 0;
  background-color: var(--bgCol);
  color: var(--mainCol);
}
button {
  border: 1px solid var(--mainCol);
  border-radius: 50%;
  background-color: var(--bgCol);
  color: var(--mainCol);
}
button:focus {
  border: 0;
}
#vectorCanvas,
#corCanvas,
#meterCanvas
{
  position: absolute;
  pointer-events: none;
}
#vectorCanvas {
  left: 0;
  bottom: 25vh;
  width: 70vw;
  height: 70vh;
}
#corCanvas {
  left: 0;
  bottom: 20vh;
  width: 70vw;
  height: 5vh;
}
#meterCanvas {
  right: 0;
  bottom: 20vh;
  width: 30vw;
  height: 75vh;
}
#waveform {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 20vh;
}
#info {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
#ainfo {
  position: absolute;
  top: 0;
  right: 10vw;
  text-align: right;
}
