:root {
  --bgCol: #114;
  --mainCol: #3F3;
  --darkCol: #333;
}

body {
  margin: 0;
  background-color: var(--bgCol);
  color: var(--mainCol);
}
button {
  border: 1px solid var(--mainCol);
  border-radius: 50%;
  background-color: var(--bgCol);
  color: var(--mainCol);
}
button:focus {
  border: 0;
}
#vectorCanvas,
#corCanvas,
#peakCanvas,
#avgCanvas,
#rmsCanvas
{
  position: absolute;
  pointer-events: none;
}
#vectorCanvas {
  left: 0;
  bottom: 50vh;
  width: 40vw;
  height: 40vh;
}
#corCanvas {
  left: 0;
  bottom: 40vh;
  width: 40vw;
  height: 10vh;
  border-bottom: 1px solid var(--mainCol);
  border-left: 1px dotted var(--mainCol);
  border-right: 1px dotted var(--mainCol);
}
#peakCanvas {
  right: 40vw;
  bottom: 40vh;
  width: 20vw;
  height: 50vh;
}
#avgCanvas {
  right: 20vw;
  bottom: 40vh;
  width: 20vw;
  height: 50vh;
}
#rmsCanvas {
  right: 0;
  bottom: 40vh;
  width: 20vw;
  height: 50vh;
}
#waveform {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 40vh;
}
